<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title - CaritasWYN</title>


    <!--<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />-->
    <!--navbar-->
    <link href="~/css/bootstrap-navbar.css" rel="stylesheet" />
    <!--calendar-->
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.css" />-->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <!--table-->
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="~/css/navbar1.css" rel="stylesheet" />
    <link href="~/css/table.css" rel="stylesheet" />
    <link href="~/css/calendar1.css" rel="stylesheet" />
    <link href="~/css/login.css" rel="stylesheet" />
    <!--<environment include="Development">
            <link href="~/css/calendar.css" rel="stylesheet" />
        </environment>-->


</head>
<body>
    <header>
        <div class="navbar-wrapper">
            <div class="container-fluid">
                <nav class="navbar navbar-fixed-top">
                    <div class="container">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Caritas Wong Yiu Nam</a>
                        </div>
                        <div id="navbar" class="navbar-collapse collapse">
                            <ul class="nav navbar-nav">
                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Client</a>
                                    <ul class="dropdown-menu">
                                        <li class="dropdown">
                                            <a class="dropdown-toggle" asp-area="" asp-controller="Clients" asp-action="Index">Client</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-toggle" asp-area="" asp-controller="Referrers" asp-action="Index">Referrer</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-toggle" asp-area="" asp-controller="Groups" asp-action="Index">Group</a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Staff</a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a class="dropdown-item" asp-area="" asp-controller="Staffs" asp-action="Index">Staff</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" asp-area="" asp-controller="JobDuties" asp-action="Index">Job Duty</a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="dropdown">
                                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Daily Activity</a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a class="dropdown-item" asp-area="" asp-controller="DailyActivities" asp-action="Index">Daily Activities</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" asp-area="" asp-controller="Act_type" asp-action="Index">Activity Type</a>
                                        </li>
                                    </ul>
                                </li>

                            </ul>
                            <ul class="nav navbar-nav pull-right">
                                <partial name="_LoginPartial" />
                            </ul>

                        </div>
                    </div>

                </nav>
            </div>
        </div>
    </header>
    <br />
    <br />
    <br />
    <br />

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            <hr />
            &copy; @DateTime.Now.Year - CaritasWYN
        </div>
    </footer>



    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
    <!--navbar-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <!--table-->
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="~/js/navbar.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.js'></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/qtip2/3.0.3/jquery.qtip.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qtip2/3.0.3/jquery.qtip.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.5.2/flatpickr.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.5.2/flatpickr.min.js"></script>
    @*
    <script src="https://cdn.jsdelivr.net/npm/promise-polyfill@7/dist/polyfill.min.js"></script>*@
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <environment include="Development">
        <script src="~/js/calendar1.js" asp-append-version="true"></script>
    </environment>
    <!--<environment exclude="Development">
        <script src="~/js/calendar.min.js" asp-append-version="true"></script>
    </environment>-->
    @RenderSection("Scripts", required: false)
</body>
</html>
