@model IEnumerable<CaritasWYN.Models.DailyActivity>

@{
    ViewBag.Title = "Daily Activity";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4><b>Daily Activities</b></h4>

<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div id="my-calendar"></div>

        </div><!--(./col-md-12 col-sm-12 col-xs-12"BELOW ROW:)-->
    </div><!--(./row)-->
</div>

